<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <loggingin argsType="Sitecore.Pipelines.LoggingIn.LoggingInArgs">
        <processor mode="on" type="Sitecore.Support.CustomCheckClientUser, Sitecore.Support.185586" patch:instead="processor[@type='Sitecore.Pipelines.LoggingIn.CheckClientUser, Sitecore.Kernel']" />
      </loggingin>
    </processors>
  </sitecore>
</configuration>